.footer-index{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #26272b;
    color: #737373;
}

.footer-index .row .column p{
    margin-bottom:5px;
    margin-top:5px;
}

.footer-index-links {
    padding-left: 0;
    list-style: none
}

.footer-index-links li {
    display: block
}

.footer-index-links a {
    color: #737373
}

.footer-index-links a:active,
.footer-index-links a:focus,
.footer-index-links a:hover {
    color: #222325;
    text-decoration: none;
}

.footer-index-links.inline li {
    display: inline-block
}